@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");
:root {
  --my--value-stroke: 0;
}

#benchmark,
#review,
#results,
#welcome,
#elencoRisposte {
  display: none;
  margin: 30px;
  margin-inline: 30px;
}
input:focus {
  outline: none;
}
#review {
  margin-inline: 30px;
}
body {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 10px 90px 5px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

#welcome p {
  margin-top: 0;
}

.button {
  background-color: #0ff;
  box-shadow: 0px 0px 40px 10px rgba(0, 255, 255, 0.548);
  border: none;
  width: 250px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 0px 8px 5px rgba(0, 255, 255, 0.548);
}
#paragrafoHome {
  display: inline-block;
  width: 30%;
  font-size: medium;
}

#homecheck {
  margin-top: 60px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  outline: 1px solid white;
  cursor: pointer;
}

#welcome span {
  font-weight: bold;
}
#welcome p {
  font-size: large;
}
#welcome h1 {
  width: 650px;
  margin-block: 60px;
  font-weight: 400;
  font-size: 100px;
  font-family: "Outfit", sans-serif;
  line-height: 80px;
}

#welcome ul {
  line-height: 35px;
  font-size: large;
}

#welcome h2 {
  color: #d20094;
  margin-bottom: 15px;
  font-size: xx-large;
}

#welcome,
#benchmarck,
#results,
#review {
  margin-block: 30px;
  margin-inline: 30px;
  font-size: 18px;
  margin-bottom: 60px;
}

.radioAnswer label {
  color: white;
}
.spanColor {
  color: #d20094;
}

#paragrafoHome {
  display: inline-block;
  width: 70%;
}
.logo {
  width: 200px;
}
.domanda {
  font-size: 40px;
  margin-bottom: 60px;
  margin-inline: auto;
  text-align: center;
  font-size: 25px;
  height: 50px;
}
.radioAnswer {
  display: inline-block;
  width: 60px;
  height: 20px;
  color: rgba(65, 65, 65, 0.378);
  border: 2px solid color rgba(69, 68, 68, 0.122);
}
.label {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.divQuestionNumber {
  text-align: center;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: bottom;
}
.divAnswer {
  padding-bottom: 30px;
  display: block;
  margin-left: 35%;
  text-align: left;
}
.nextButton {
  margin-left: 70%;
  width: 150px;
  height: 50px;
  background-color: #d20093;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  box-shadow: 0px 0px 15px 8px #d20093cc;
  border: none;
  display: block;
  cursor: pointer;
}
.nextButton:active {
  box-shadow: 0px 0px 8px 4px #d20093;
}
#review {
  text-align: center;
}
#review h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 100px;
  font-family: "Outfit", sans-serif;
  margin-bottom: 20px;
}
#review h2 {
  text-align: center;
  margin-inline: auto;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: x-large;
}

#review h3 {
  text-align: center;
  width: 1000px;
  font-weight: 400;
  margin-inline: auto;
  font-family: "Inter", sans-serif;
  margin-top: 80px;
  display: block;
  font-size: x-large;
}
#inputReview {
  font-family: "Inter", sans-serif;
  font-size: large;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #d20093;
  background-color: transparent;
  width: 1000px;
  display: block;
  margin-inline: auto;
  margin-block: 40px;
  margin-bottom: 100px;
  padding-bottom: 10px;
  color: white;
}
#button2 {
  margin-inline: 40%;
  text-align: center;
}
/* Timer */
#benchmark header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#timer {
  width: 160px;
  height: 160px;
  position: relative;
}

#out {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
}
#in {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#txt {
  font-weight: 600px;
  font-size: 50px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

circle {
  fill: none;
  stroke: #00ffff;
  stroke-width: 20px;
  stroke-dasharray: 472px;
  stroke-dashoffset: 0;
}
#cerchio1 {
  fill: none;
  stroke: rgba(128, 128, 128, 0.38);
  stroke-width: 20px;
  stroke-dasharray: 472px;
  stroke-dashoffset: 0;
}
svg {
  rotate: -90deg;
  position: absolute;
  top: 0;
  left: 0;
}

.rateStar {
  display: inline-block;
  justify-content: space-between;
}
/* Menu di scelta */

#scelte {
  padding: 15px;
  margin: 100px auto;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  background-color: rgba(20, 56, 236, 0);
  color: white;
  box-shadow: 0 0 40px 10px black;
  text-align: center;
}
#scelte h2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  color: #d20093;
}
#scelte label:first-child {
  display: block;
  margin: 0 auto;
}
#numDomande {
  width: 300px;
  display: block;
  margin: 20px auto;
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom: 2px solid #d20093;
  color: white;
}
#diff {
  margin: 0 auto;
  padding: 0;
}
#scelte button {
  display: block;
  margin: 30px auto;
  width: 200px;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  height: 50px;
  background-color: #d20093;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 15px 8px #d20093cc;
  border: none;
}
#scelte button:active {
  box-shadow: 0px 0px 8px 1px #d20093;
}
#review h1 {
  font-size: 60px;
}
#review h2 {
  font-size: 30px;
}
.rateStar {
  display: inline-block;
  justify-content: space-between;
  filter: brightness(00%);
  margin-inline: 5px;
  height: 40px;
}
.starOn {
  filter: brightness(100%);
}
.starAccendi {
  filter: brightness(100%);
}

/* Classi Live Answer */
.Green {
  color: green;
}

.Red {
  color: red;
}

.answerGroup {
  height: 300px;
}
/* Finestra Results */

#results h1 {
  text-align: center;
  margin: 0 auto;

  font-weight: 700;
  font-size: 70px;
  font-family: "Outfit", sans-serif;
}
#results h2 {
  margin-block: 0;
  font-weight: 400;
  text-align: center;
}
#correctAnswers,
#grafico,
#wrongAnswers {
  display: inline-block;
  text-align: center;
  margin: 0;
}
#correctAnswers {
  width: 20%;
}
#correctAnswers p:first-of-type {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  margin-block-end: 5px;
  text-align: left;
}
#wrongAnswers p:first-of-type {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  margin-block-end: 5px;
  text-align: right;
}
#wrongAnswers {
  width: 20%;
}

#buttonRate {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#buttonRate button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  box-shadow: 0px 0px 8px 5px white;
}
#buttonRate button:active {
  box-shadow: 0px 0px 4px 2px white;
}

.percentualePunteggio {
  font-size: 50px;
  margin: 0;
  text-align: left;
  font-weight: 700;
}
.paragrafoPunteggio {
  font-size: 18px;
  text-align: left;
  margin: 0;
}
.percentualePunteggioSbagliato {
  font-size: 50px;
  margin: 0;
  text-align: right;
  font-weight: 700;
}
.paragrafoPunteggioSbagliato {
  font-size: 18px;
  text-align: right;
  margin: 0;
}
/* Grafico Results */
#cerchio3 {
  fill: none;
  stroke: #d20093;
  stroke-width: 18px;
  stroke-dasharray: 472px;
  stroke-dashoffset: 0;
}
#cerchio4 {
  fill: none;
  stroke: #0ff;
  stroke-width: 18px;
  stroke-dasharray: 472px;
  stroke-dashoffset: 0;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: var(--my--value-stroke);
  }
}
#grafico1 {
  position: static;
  left: 40px;
  top: 100px;
  margin-top: 50px;
}
#grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 55%;
}

#mainResults {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voto {
  position: absolute;
}

/* Lista risposte */

#elencoRisposte {
  padding: 15px;
  margin: 50px auto;
  width: 80%;
  min-height: 350px;
  border-radius: 10px;
  background-color: rgba(20, 56, 236, 0);
  color: white;
  box-shadow: 0 0 40px 10px black;
  text-align: center;
}
#elencoRisposte h2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  color: #d20093;
}
#listaRisposte {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
  text-align: left;
}

#listaRisposte li {
  line-height: 30px;
}

#elencoRisposte button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  box-shadow: 0px 0px 8px 5px white;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
}
#elencoRisposte button:active {
  box-shadow: 0px 0px 4px 2px white;
}
